
#admin-tracking-history{
    position: absolute;
    z-index: 1;
    top: 0;
    height: auto;
    max-height: 50em;
    overflow: scroll;
    padding-left: 1em;
    direction: rtl;
}

#admin-tracking-history>li{
    margin-bottom: .7em;
    border: gray thin solid;
    border-radius: 5px;
    padding: .5em;
    text-align: right;
    direction: rtl;
    max-width: 20em;
    overflow-wrap: break-word;
}

.admin-ticket-title{
    font-weight: bold;
    font-size: 1.3em;
}
.admin-ticket-message{
    margin: 1em 0;
    background-color: #ddd;
    padding: .5em;
}

.admin-ticket-datetime{
    background-color: brown;
    color: white;
    padding: 5px;
    text-align: left;
    direction: ltr;
}

.admin-ticket-link{
    text-align: center;
    padding-top: 7px;
}
